/* .badge-custom {
    display: inline-flex;
    align-items: center;
    background: #fff;
    border: 1px solid #C9A93E;
    color: #C9A93E;
    border-radius: 20px;
    padding: 6px 6px;
    font-size: 0.8rem;
    gap: 2px;
} */
