
.scroll-wrapper {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  user-select: none;     /* mencegah seleksi teks */
  -webkit-user-select: none;
  -ms-user-select: none;
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}


.scroll-container {
  display: flex;
  gap: 2.5rem;
  flex-wrap: nowrap;
}

.lawyer-card {
  display: flex;
  background-color: #654220;
  color: white;
  border-radius: 16px;
  min-width: 300px;
  max-width: 90vw;
  flex: 0 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image_wrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lawyer-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  flex: 1;
}

.nama {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.spesialisasi {
  font-size: 0.9rem;
  color: #eee;
  margin-bottom: 0.75rem;
}

.badges {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.badge-custom {
  background-color: #2d1c0f;
  color: white;
  border-radius: 999px;
  padding: 6px 12px;
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 6px;
}

.price-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.harga {
  font-weight: bold;
  font-size: 1.1rem;
}

.btn-detail {
  background-color: #2d1c0f;
  color: white;
  border-radius: 8px;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 0.9rem;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 6rem;
    margin-right: 0;
    gap: 2rem;
}

.username{
    font-size: 1.5rem
}

.rekomendasi{
    font-size: 4rem;
    font-weight: light;
}

.search-wrapper {
    width:70vw;
    position: relative;
}

.search-header {
    position: relative;
    top: 1.5rem;
    background-color: #c79d04;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #3d2a0c;
    font-weight: 600;
    font-size: 1.2rem;
}

.search-bar {
    background-color: #654220;
    width: 100%;
}


.btn-filter,
.btn-cari {
    background-color: #442a0d;
    color: white;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border: none;
}

.btn-cari {
    background-color: #442a0d;
}

.luaran{
    display: flex;
    flex-direction: row;
    margin-top: 14rem;
    margin-bottom: 14rem;
}

.isi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.5rem;
}

.isi h5{
    font-size: 20px;
}

.isi h1{
    font-size: 50px;
}

.telusuri{
    padding-top: 3rem;
}

.button{
    background-color: #654220;
    color: white;
    transform: none;
}

