* {
    margin: 0;
    padding: 0;
    position: relative;
}

.relative{
    background-color: #f5f5f5;
    width: 100%;
    height: 2070px;
}

.dasbor-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-container{
    width: 100%;
    height: 794px;
}

.banner-img{
    width: 100%;
    height: 794px;
    display: flex;
    position: absolute;
}

.banner-img img{
    width: 100%;
    height: 794px;
}

.banner-text{
    width: 559px;
    height: 402px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 140px;
    margin-left: 103px;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.banner-title{
    /* background-color: aqua; */
    width: 420px;
    height: 230px;
    display: flex;
    font-size: 96px;
    font-family: 'Noto Serif KR', serif;
    font-weight: 300;
    color: #f5f5f5;
    line-height: 115px;
}

.banner-subtitle{
    width: 100%;
    height: 69px;
    display: flex;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #f5f5f5;
}

.banner-btn{
    width: 286px;
    height: 47px;
    background-color: #654220;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #f5f5f5;

    border-radius: 10px;
    border: none;
}

.kelebihan{
    width: 1026px;
    height: 271px;
    background-color: #654220;
    border: #B99010 solid 1px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: -128px;

    
    font-family: 'Raleway', sans-serif;
    color: #f5f5f5;
}

.kelebihan-1{
    width: 239px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.kelebihan-2{
    width: 239px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
     /* background-color: aqua; */
}

.kelebihan-3{
    width: 239px;
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
     /* background-color: aqua; */
}

.kelebihan-1 img{
    width: 32px;
    height: 32px;
}

.kelebihan-2 img{
    width: 50px;
    height: 50px;
}

.kelebihan-3 img{
    width: 50px;
    height: 50px;
}

.kelebihan-judul p{
    font-size: 32px;
}

.kelebihan-deskripsi p{
    font-size: 13px;
    text-align: center;
    /* background-color: black; */
}


.vertical-line {
    border-left: 1px solid #B99010;;
    height: 270px;
    margin: 0 54px;
}


.dasbor-middle{
    width: 100%;
    height: 641px;

    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    font-family: 'Raleway', sans-serif;
}


.middle-text{
    width: 762px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Raleway', sans-serif;

    /* background-color: blueviolet; */
}


.middle-text-top{
    width: 762px;
    height: 96px;

    /* background-color: white; */
}

.middle-judul{
    font-size: 48px;
    color: black;
}

.middle-deskripsi{
    font-size: 20px;
    color: black;

}

.btn-kamus{
    width: 288.6px;
    height: 47.8px;
    background-color: #654220;

    font-size: 18px;
    color: #f5f5f5;

    border-radius: 10px;
    border-style: none;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.dasbor-bottom{
    width: 100%;
    height: 395px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.dasbor-bottom-judul{
    height: 56px;
    color: black;
    font-size: 48px;
    margin-top: 47px;
}

.review-container{
    height: 147px;
    width: 100%;
    margin-top: 48px;
    /* background-color: red; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.review-1{
    height: 147px;
    width: 416px;
    background-color: #654220;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:self-start;
    font-size: 13px;
    color: #f5f5f5;
}

.review-star{
    width: 372px;
    height: 60px;
    margin-left: 27px;
    /* background-color: yellow; */
}

.review-bottomstar{
    margin-left: 27px;
}