body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.konsultasi_wrapper {
    background-color: #FFF7F0;
    /* height: 90vh; */
}

.chat_wrapper {
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;
}

.heading {
    background-color: #654220;
}

.heading h2 {
    margin: 0 0.2rem;
    font-weight: bold;
}

.heading {
    color: #FFF7F0;
}

.chat {
    width: 40%;
}

.chat_details {
    width: 80%;
}