body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF7F0;
}

.back-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin: 15px;
    margin-bottom: 0px;
}

.back img{
    width: 30px;
    height: 30px;
}

.logo img{
    height: 10vh;
}

.isi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.judul{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif Korean';
    color: #654220;
    font-size: 30px;
}

.box-lupa{
    border: 1px solid #654220;
    border-radius: 10px;
    background-color: #ffffff;
    width: 70vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
    color: #654220;
}

.box-lupa h3{
    width: 60%;
    font-weight: 500;
    font-size: 27px;
    text-align: center;
}

form{
    margin-top: 40px;
    width: 50%;
}

.form-email{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-email label{
    font-weight: 500;
}

.form-email input{
    height: 25px;
    border-radius: 5px;
    border: 1px solid #654220;
    padding-left: 10px;
}

.button-lanjut{
    /* width: 50%; */
    margin-top: 100px;
    
}

button{
    text-decoration: none;
    width: 100%;
    height: 7vh;
    background-color: #FFFfff;
    border: 1px solid #654220;
    border-radius: 10px;
    font-family: 'Noto Serif Korean';
    font-size: 30px;
    color: #654220;
    cursor: pointer;
}

p{
    font-family: 'Raleway';
    font-size: 12px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: blue;
}

/* Untuk pesan error */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

/* Untuk pesan sukses */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px 15px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 20px;
    width: 80%;
    text-align: center;
}